PORT=3001
NODE_ENV=development
SUPABASE_URL=https://vwnpvcajwtltqjyaybri.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_e-zzFNC1A4wG-4c2B2Un_A_iIaiPTkp
SUPABASE_ANON_KEY=sb_secret_brGbc8U1QjXtwavyxUJqKw_B9n6a2l0
SERPAPI_KEY=ae6f546f1a910a7ddd873899060f2317ac6b92e1419b9272a7ed60629959d93b
ANTHROPIC_API_KEY=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
RESEND_API_KEY=re_Z6VcTGtV_Q6QaLhNzQd3MpjQuwo9rAfWU
CORS_ORIGIN=http://localhost:3000
